<p>
  <a id="my-toggle-click">Toggle</a>
</p>
<div id="foo" style="border: 10x solid red;">
  <p>
    bar
  </p>
</div>
<script>
  $("#foo").hide();
  
  $("#my-toggle-click").hover(function(){
    $("#foo").fadeToggle();
  })
</script>
